name: bldr-io/bldr
description: 'Build System with YAML in mind'

profiles:
    default:
        description: 'Development Profile'
        tasks:
            - prepare
            - lint
            - phpcs
            - test

tasks:
    echo:
        calls:
            -
                type: exec
                arguments:
                    - echo
                    - "test"
    watch:
        calls:
            -
                type: watch
                files: [src/*/*.php, src/*/*/*.php, src/*/*/*/*.php]
                task: echo
    prepare:
        description: 'Cleans up old builds and prepares the new one'
        calls:
            -
                type: filesystem:remove
                failOnError: true
                files: [build/coverage, build/logs]
            -
                type: filesystem:mkdir
                failOnError: true
                files: [build/coverage, build/logs]
            -
                type: filesystem:touch
                failOnError: true
                files: [build/coverage/index.html]
            -
                type: exec
                failOnError: true
                executable: composer
                arguments: [install, --prefer-dist]
    lint:
        describe: 'Lints the files of the project'
        calls:
            -
                type: apply
                failOnError: true
                fileset: src/**/*.php
                executable: php
                arguments: [-l]

    phpcs:
        description: 'Runs the PHP Code Sniffer'
        calls:
            -
                type: exec
                executable: php
                arguments:
                    - bin/phpcs
                    - --standard=phpcs.xml
                    - --report=summary
                    - src/
            -
                type: exec
                output: /dev/null
                append: false
                executable: php
                arguments:
                    - bin/phpcs
                    - --standard=phpcs.xml
                    - --report=checkstyle
                    - --report-file=build/logs/checkstyle.xml
                    - src/
    test:
        description: 'Runs the PHPUnit Tests'
        calls:
            -
                type: exec
                failOnError: true
                executable: php
                arguments:
                    - bin/phpunit
                    - --coverage-text=php://stdout

extensions: ~
