language: php

php:
    - 5.4
    - 5.5
    - 5.6
    - hhvm

matrix:
    allow_failures:
        - php: hhvm

before_script:
    - composer install
    - composer require satooshi/php-coveralls:dev-master --no-progress --prefer-source

script:
    - ./bin/bldr build default

after_script:
    - php bin/coveralls -v
